---
layout: post
title: "SPRING FRAMEWORK 기본"
subtitle: "서브 타이틀도 작성을 할수 있다. "
date: 2020-4-26 23:45:13 -0400
background: '/img/posts/spring.png'
comments: true
---

<p>※POJO 기반의 JAVA EE 애플리케이션 개발을 지원하는 경량(light-weight)의 프레임워크 이다.</p>

<p>*POJO (Plain Old java Object) :-평범한 옛날 자바 객체</p>

<p>특별한 라이브러리, 특별한 실행환경이 필요하지 않는 객체</p>

<p>특정환경에 종속되지 않는 객체</p>

<p>*개발하기 쉽다.</p>

<p>*재사용성이 높다.</p>

<p>*테스트가 용이하다.</p>

<p>-Old : EJB 등장이전의 평범한 자바객체로 개발하던 시절</p>

<p>*new 키워드로 객체를 생성하고 사용하던 시절</p>

<p>* 특별한 실행환경이 필요없던 시절</p>

<p>*결국 POJO는 특별한 환경 혹은 라이브러리에 종속되지 않는</p>

<p>재사용성이 높고, 테스트하기 쉬운 객체</p>

<p>(vo, dao… 이런것이 new만 사용하면 쓸 수 있는 객체)</p>

<p>→ 서블릿은 아님 ( 톰캣이 있어야만 하기 때문임) ~</p>

{% if site.disqus-shortname %}{% include disqus.html %}{% endif %}
