---
layout: default
comments : true
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>


            {% if page.tags %}
              {% for tag in page.tags %}
                {% if site.data.tags contains tag %}
                   <a href="/posts/?tag={{ tag }}">
                     <span class="tag">{{ site.data.format[tag] }}</span>
                   </a>
                {% endif %}
              {% endfor %}
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}

        </div>
        {% if page.comments != false %}
            {% include disqus_comments.html %}
        {% endif %}
      </div>
    </div>
  </div>


  <link rel="stylesheet" href="/public/css/flexslider.css" type="text/css">
  <script src="/public/js/jquery1.6.2.js"></script>
  <script src="/public/js/jquery.flexslider.js"></script>
  <style>
  .tag {
   font-family: 'flexslider-icon';
   background-color : #ff8a78;
   margin-top : 30px;
   margin-right : 4px;
   border-radius:0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
  }

  </style>

  <script type="text/javascript">

    $(document).ready(function() {
  let currentTag = "";
  const queryTag = getQuery().tag;
  if (queryTag) {
    currentTag = queryTag;
    filterByTagName(currentTag)
  }
});

    function updateQueryString(tagName) {
  const path = `${location.protocol}//${location.host}${location.pathname}?tag=${tagName}`;
  window.history.replaceState({ path }, '', path);
  }


  </script>
